 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    
 }

 .imglogo {
    position: absolute;
    top: -690px;
    left: -200px;
    right: 10px; 
}

.imglogo img {
    width: 200px; 
    height: auto; 

}

.section1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0996f4;
    background-image: linear-gradient(to left, #1548f0, #0996f4, #1968f0);
 }

 header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

 }

 
 header .navegacao a{
    /* color:#045183; */
    /* color: #1453c0; */
    /* color: #165dd8; */
    color: #39bf73;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    background: #fff ;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.7s;
    transition-property: background;

 }

 header .navegacao a:not(:last-child){
    margin-right: 10px;
}

header .navegacao a:hover{
    background: #045183;
    /* background: #1453c0;     */
    color:#fff;
    transition: 0.7s;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
    font-size: 20px;
    

}

.content .info h2{
    color: #fff;;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;

}

.content .info h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.content .info-btn{
    color: #fff;
    background: #39bf73;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.content .info-btn:hover{
    background: #045183;
    transition: 0.7s-;

}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 25px;
    text-decoration: none; 

}

.media-icons a:hover i {
    text-shadow:
        0 0 10px rgb(182, 221, 254),
        0 0 20px rgb(109, 109, 248),
        0 0 30px #00f,
        0 0 40px #00f,
        0 0 70px #0ff, 
        0 0 80px #0ff,
        0 0 100px #0ff; 
    opacity: 2; 
}


.media-icons a:not(last-child){
    margin-right: 60px;

}

.media-icons a:hover{
    transform: scale(1.5);
}

#imglogo{
    width: 180px;
    height: 130px;
    margin-left: -40%;
}


 #imghome{
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 53%;
    margin-top: -27%;
    width: 600px; 
    height: 500px;
    border-radius: 30px;
}

.fixed-button {
    position: fixed;
    bottom: 20px; /* Ajuste a posição vertical como desejar */
    right: 20px; /* Ajuste a posição horizontal como desejar */
    z-index: 999; /* Garante que o botão fique acima de outros elementos, se necessário */
    
}

/* Estilos adicionais para o botão, se desejado */
.fixed-button button {
    background-color:#39bf73;
    /* border: solid;
    border: #fff;
    border-width: 10%; */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.btnseta {
    background-color:#39bf73;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

.btnseta:hover{
    background-color: #055a92;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}

.fixed-button button:hover{
    /* transform: scale3d(1.1, 1.1, 1); */
    background-color: #055a92;
    text-decoration: none;
    transition: 0.7s;
}

/* Estilos para o conteúdo da página */
.content {
    /* Adicione margem inferior para evitar que o conteúdo seja ocultado pelo botão */
    margin-bottom: 60px; /* Deve ser igual ou maior do que a altura do botão */
}


/* .container-sobre:after{
    content: '';
    display: block;
    position: absolute;
    margin-top:-33.5%;
    margin-left: -10%;
    width: 107.8%;
    height: 3px; */
    /* background-color: #165dd8; */
    /* background-color: #055a92; */
    /* background-color: #1453c0; */
    /* background-color: #045183;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);


} */


.container-sobre{
    color: #fff;
    background-color: #045183;
    border: solid;
    border-color: #045183;
    border-width: 4px;
    display: flex;
    width: 90%;
    height: 600px;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* display: grid;
    grid-template-columns: 200px; */
   
}

.container{
    display: flex;
}

.textao{
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* display: flex   ; */ 
    padding: 10px; 
}


.texto1{
    font-size: 20.5px;
    font-weight: 500;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 60px;
    /* display: flex; */

} 

.container-sobre video{
    height: 600px;
    width: 600px;
    margin-top: -20%;
}

.texto-bloco h2{
    display: block;
     color: #fff;
    font-size: 50px; 
    font-weight: 700;
    justify-content:center ;
    align-items: center;
    margin-top: 10%;
    /* margin-bottom: 10%; */
    margin-left: 25%;
}

#carouselExample{
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


.slides{
    width: 100%;
    height: 95vh;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-top: 10%;
}

.slide{
    position: absolute;
    height: 110%;
    opacity: 0;
    inset: 0;
    animation: slide-show 20s infinite;
}


/* .slide-1{
    animation-delay: s;
} */

.slide-2{
    animation-delay: 4s;
}

.slide-3{
    animation-delay: 6s;
}

.slide-4{
    animation-delay: 9s;
}

.slide-5{
    animation-delay: 12s;
}

.slide-6{
    animation-delay: 15s;
}


.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%,
    30%{
        opacity: 1;
        scale: 1.03;
    }
    50%{
        opacity: 0;
    }
}


.conteudo{
    display: none;
}

.textoatuacao h2{
    color:#fff;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    bottom: -335%;
    left: 36%;
    
}

.textoatuacao p{
    font-size: 30px;
    font-weight: 750;
    color: #fff;
    position: absolute;
    bottom: -345%;
    left: 38%;
    text-align: center;
    
}


.container-card{
    display: flex;
    width: 59.1%; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 455%;
    left: 20.5%;
    /* margin-left: 20%;
    margin-top: 50%; */
    
}

.card-1{
    display: flex;
    background-color: #fff;
    padding: 10px;
    height: 205px;
}

.card-1:hover{
    transform: scale3d(1.1,1.1,1);
    transition: 0.5s;
}

.card-image-1{
    width: 25%;
    border-radius: 12px;
    padding: 40px;
   
}

.card-image-1 img{
    width: 100%;
    min-height: 100%;
}

.card-text-1{
    width: 90%;
    padding: 35px;
    text-align: left;
}

.card-2{
    display: flex;
    background-color: #fff;
    margin-top: 5%;
    padding: 10px;
    height: 205px;
}


.card-2:hover{
    transform: scale3d(1.1,1.1,1);
    transition: 0.5s;
}

.card-image-2{
    width: 25%;
    border-radius: 12px;
    padding: 36px;
    
}

.card-image-2 img{
    width: 100%;
    min-height: 100%;
}

.card-text-2{
    width: 90%;
    padding: 35px;
    text-align: left;
}

.card-3{
    display: flex;
    background-color: #fff;
    padding: 10px;
    margin-top: 5%;
    height: 205px;
}

.card-3:hover{
    transform: scale3d(1.1,1.1,1);
    transition: 0.5s;
}


.card-image-3{
    width: 25%;
    border-radius: 12px;
    padding: 34px;
   
}

.card-image-3 img{
    width: 100%;
    min-height: 100%;
}

.card-text-3{
    width: 90%;
    padding: 35px;
    text-align: left;
}

.card-4{
    display: flex;
    background-color: #fff;
    padding: 1px;
    margin-top: 5%;
    height: 205px;

}

.card-4:hover{
    transform: scale3d(1.1,1.1,1);
    transition: 0.5s;
}

.card-image-4{
    width: 21%;
    height: 205px;
    border-radius: 12px;
    padding: 40px;
}

.card-image-4 img{
    width: 100%;
    min-height: 100%;
    margin-left: 20%;
    margin-top: 10%;
    /* padding: 15px; */
}

.card-text-4{
    width: 90%;
    border: 1 px solid black;
    padding: 50px;
    text-align: left;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 0 .5rem;
    width: calc(100%/3);
}


.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

#imgcard1{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#imgcard2{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#imgcard3{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#imgcard4{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#imgcard5{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#imgcard6{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#imgcard7{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#imgcard8{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#imgcard9{
    width: 100%;
    height: 170px;
    border-radius: 2px;
    padding: 10px;
}

#titlewrapper{
    font-size: 20px;
    font-weight: 700;
    color: #39bf73;
}


.btn{
    background-color: #39bf73;
    border: #39bf73;

}

.btn:hover{
    background-color: #045183;
    transition: 0.7s;
}

 #imagem-gestao{
    width: 750px;
    height: 600px;
    margin-top: 6.5%; 
    margin-left: 2%;
    
} 

.cardscontainer-gestao{
    width: 85.5%;
    height: 800px;
    margin-left: 7.1%;
    margin-top: 100%;
     /* background-image: linear-gradient(to left, #1548f0, #0996f4, #1968f0);  */
     background-color: #045183;
    border: solid;
    border-color: #045183;
    border-width: 5px;
    border-radius: 0;
    padding: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);    
}

.card-gestao-1{
    max-width: 27.5rem;
    max-height: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-bottom: 1%;
    margin-top:-45%;
    background-color: #045183;
    border: #76D7C4;
}
.card-gestao-2{
    max-width: 27.5rem;
    max-height: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-bottom: 1%;
    background-color: #045183;
    border: #045183;
    
}
.card-gestao-3{
    max-width: 27.5rem;
    max-height: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-bottom: 1%;
    background-color: #045183;
    border: #045183
    
}
.card-gestao-4{
    max-width: 27.5rem;
    max-height: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-bottom: 5%;
    background-color: #045183;
    border: #76D7C4;
    
}

.card-img-top{
    max-width: 25%;
    margin: auto;
    padding: 1.5rem;
    border-radius: 0.7rem;
    
}

.card-title-gestao{
    color: #39bf73;
    font-weight: 800;
    font-size: 18px;
    text-align: center;

}

.card-text-gestao{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}


.text-section {
    max-width: 40%;
}


.container-apoiador{
    margin-top: 10%;
    padding: 50px;

}
.container-apoiador h1{
    font-size: 55px;
    font-weight: 700;
    font-size: 250;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-left: 5%;

}

.container-apoiador p{
    font-size: 40px;
    font-weight: 600;
    font-size: 250;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-left: 5%;
}

/* .container-organizacoes{
    margin-top: 2%;
    margin-left: 2.5%;
    background-color: #85C1E9; 
    padding: 10px;
    height: 715px;
    width: 95%;
    border-radius: 30px;
} */

.container-organizacoes{
    background-color: #39bf73;
    height: 520px;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin-top: -2.5%;
    margin-left: 7.5%;
    padding: 80px;
}


.content-body-organizacoes{
    background-color: #fff;
}

.text-organizacao-1{
    text-align: center;
    /* margin-top: 14%; */
    color: #fff;
    font-weight: 600;
}

.card-organizacao-1{
    max-width: 40rem;
    height: 130px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 1%;
    background-color: #fff;
    border: #fff;

    
}

.card-organizacao:hover{
    transform: scale3d(1.1,1.1,1);
    transition: 0.5s;
}


.card-organizacao-2{
    max-width: 40rem;
    height: 130px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    margin-top: -12.5%;
    margin-bottom: 1%;
    background-color: #fff;
    border: #fff;
}


#imgorganizacao{
    max-width: 25%;
    margin: auto;
    padding: 10px;
    border-radius: 0.7rem;
    
}

.card-body-organizacao{
    padding: 10px;
}

.card-title-organizacao{
    color: #39bf73;
    font-weight: 800;
    font-size: 20px;
}

.card-text-organizacao{
    color: #000;
    text-align: left;
}

#sectiontext{
    max-width: 100%;
}

.card-organizacao-1:hover{
    transform: scale3d(1.1, 1.1, 1);
}

.card-organizacao-2:hover{
    transform: scale3d(1.1, 1.1, 1);
}

/* .apoiador{
    font-weight: 700;
    font-size: 250;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
} */

/* #card-gestao{
    justify-content: center;
    align-items: center;
    margin-left: 55%;
    margin-bottom: 80%;
} */

/* .icones{
    /* position: absolute;
    bottom: 15%;
    left: 7%;
    color: #fff; } */

.cards-wrapper-2{
    max-width: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15.9%;
    
}

#cardredon{
    margin: 0 .5rem;
    width: calc(100%/3);
    background-color: #fff;
    /* border-radius: 50px; */
    /* border: #85C1E9;
    border-width: 5px;
    border-style: outset;
    border-radius: 50px; */
}

.cards-wrapper-2 h5{
    text-align: center;
    font-weight: 800;
    color: #39bf73;
}

#cardbodyredon{
    background-color: #fff;
    /* border: #85C1E9;
    border-width: 5px;
    border-style: outset;
    border-radius: 50px; */
    border-radius: 100px;
}


#imgredon{
    /* height: 200px;
    height: 200px; */
    /* border-radius: 50%; */
    padding: 50px;
    max-width: 100%;
     max-height: 100%; 
}

#imgredon2{
    /* height: 200px;
    height: 200px; */
    /* border-radius: 50%; */
    padding: 35.5px;
    max-width: 100%;
     max-height: 100%; 
}

#textredon{
    text-align: center;
}
    
.rodape{
    align-items: end;
}

/* footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #045183;
    color: #fff;
    padding: 80px 20px;
    height: 270px;

  }
  
  .left img {
    max-width: 100px;
    height: auto;
  }
  
  .right {
    text-align: right;
  } */


  footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #045183;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px; 
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 9px;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.media-icons a {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 25px;
    text-decoration: none; 
}

.media-icons a:hover i {
    text-shadow:
        0 0 10px rgb(182, 221, 254),
        0 0 20px rgb(109, 109, 248),
        0 0 30px #00f,
        0 0 40px #00f,
        0 0 70px #0ff, 
        0 0 80px #0ff,
        0 0 100px #0ff; 
    opacity: 2; 
}


.media-icons a:not(last-child){
    margin-right: 60px;
    margin-top: 15px;

}

.media-icons a:hover{
    transform: scale(1.5);
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}  





  
/* tamanho para celular */

 @media screen and (max-width: 768px) {
    header {
        padding: 1.3rem 5%;
    }

    .navegacao{
        display: none;

    }

    .logo{
        justify-content: center;
        align-items: center;
        margin-left: 110%;
    }

    #imghome{
        display: none;
    }


    .content{
        justify-content: center;
        align-items: center;
    }

    .content .info h2{
        font-size: 25px;
        text-align: center;
    }
    
    .info-btn{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 25%;

    }

    .fixed-button{
        display: none   ;
    }



    .container-sobre{
        justify-content: center;
        align-items: center;
        padding: 2px;
    }

    .container-sobre h1{
        font-size: 35px;
        text-align: center;
        margin-top: -1%;
        margin-bottom: -5%;
    }

    .container-sobre p{
        font-size: 20px;
        text-align: center;
        margin-bottom: -75%;
    }


    /* .conteudo{
        display: flex;
        width: 450px;
    } */

    .cards{
        display: grid;
        grid-auto-flow: column;
    }

    .card{
        border-radius: 30px;
        min-height: 200px;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .paragrafo h2{
        font-size: 35px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 90%;
        
     } 

     .texto-bloco h2{
        font-size: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: -1px;
        font-weight: 700;
     } 

     

    .textoatuacao h2{
        font-size: 35px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30%;
        margin-left: -17%;
    }

    .textoatuacao p{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30%;
        margin-left: -24%;

    }

    .container-card{
        display: flex;
        width: 59.1%; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 440%;
        left: 20.5%;
        /* margin-left: 20%;
        margin-top: 50%; */
        
    }
    
    .card-1{
        display: flex;
        background-color: #fff;
        padding: 1px;
        width: 450px;

    }
    
    .card-1:hover{
        transform: scale3d(1.1,1.1,1);
        transition: 0.5s;
    }
    
    .card-image-1{
        display: none;
       
    }
    
    .card-image-1 img{
        display: none;
    }
    
    .card-text-1{
        width: 100%;
        padding: 35px;
        text-align: center;
        font-size: 13px;
    }
    
    .card-2{
        display: flex;
        background-color: #fff;
        margin-top: 5%;
        padding: 1px;
        width: 450px;
    }
    
    
    .card-2:hover{
        transform: scale3d(1.1,1.1,1);
        transition: 0.5s;
    }
    
    .card-image-2{
        display: none;
        
    }
    
    .card-image-2 img{
        display: none;
    }
    
    .card-text-2{
        width: 100%;
        padding: 35px;
        text-align: center;
        font-size: 13px;
    }
    
    .card-3{
        display: flex;
        background-color: #fff;
        padding: 10px;
        margin-top: 5%;
        height: 205px;
    }
    
    .card-3:hover{
        transform: scale3d(1.1,1.1,1);
        transition: 0.5s;
    }
    
    
    .card-image-3{
        width: 25%;
        border-radius: 12px;
        padding: 34px;
       
    }
    
    .card-image-3 img{
        width: 100%;
        min-height: 100%;
    }
    
    .card-text-3{
        width: 90%;
        padding: 35px;
        text-align: left;
    }
    
    .card-4{
        display: flex;
        background-color: #fff;
        padding: 1px;
        margin-top: 5%;
        height: 205px;
    
    }
    
    .card-4:hover{
        transform: scale3d(1.1,1.1,1);
        transition: 0.5s;
    }
    
    .card-image-4{
        width: 21%;
        height: 210px;
        border-radius: 12px;
        padding: 44px;
    }
    
    .card-image-4 img{
        width: 100%;
        min-height: 100%;
        margin-left: 15%;
        margin-top: 10%;
        /* padding: 15px; */
    }
    
    .card-text-4{
        width: 90%;
        border: 1 px solid black;
        padding: 50px;
        text-align: left;
    }


    .cardscontainer-gestao{

    }

    #imagem-gestao{
        display: none;
    }

    .card-gestao-1{
        margin-left: 20%;
        margin-bottom: 20%;
        margin-top: 100%;
    }

    .card-gestao-2{
        margin-left: 20%;
        margin-bottom: 20%;
    }
    
    .card-gestao-3{
        margin-left: 20%;
        margin-bottom: 20%;
    }

    .card-gestao-4{
        margin-left: 20%;
        /* margin-top: -0%; */
    }

    .card-img-top{
        display: none ;
    }

  /* Responsivo para Telas Médias e Grandes (a partir de 1200px de largura)
  @media screen and (min-width: 1200px) {
    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  
    .content .info h2 {
      font-size: 40px;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    .content {
      margin: 60px 100px;
    }
  
    header .navegacao {
      display: flex;
    }
  } */
  
/* Estilos base para os cards */
.card {
    display: flex;
    border-radius: 12px;
    background-color: #fff;
    padding: 10px;
  }
  
  .card-image {
    width: 20%;
    border-radius: 12px;
    padding: 30px;
  }
  
  .card-image img {
    width: 100%;
    min-height: 100%;
  }
  
  .card-text {
    width: 70%;
    padding: 35px;
    text-align: left;
  }
  
  /* Estilos responsivos para telas menores */
  @media screen and (max-width: 768px) {
    .card {
      flex-direction: column; /* Coloca os elementos em coluna */
      text-align: center; /* Centraliza o texto */
    }
  
    .card-image {
      width: 100%; /* Preenche a largura disponível */
      padding: 0; /* Remove o preenchimento */
      margin-bottom: 20px; /* Adiciona espaço entre os cards */
    }
  
    .card-image img {
      width: 100%;
    }
  
    .card-text {
      width: 100%; /* Preenche a largura disponível */
      padding: 0; /* Remove o preenchimento */
    }
  }
  
  /* Estilos adicionais para telas grandes */
  @media screen and (min-width: 1200px) {
    .card {
      margin: 20px; /* Adiciona margem entre os cards */
    }
  }
  
}
